$liveHeaderHeight:90px;
$liveStatusHeight:120px;

body.live {
    background-color:$offwhite;

    header {
        height:$liveHeaderHeight;
        background-color:$blue;
    }

    streams {
        display:block;
        height:calc(100vh - #{$liveHeaderHeight} - #{$liveStatusHeight});
        background-color:$slateblack;
    }
}